.leaflet-control-simplebutton {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  display: block;
  overflow: hidden;
  width: 36px;
  height: 36px;
}

.leaflet-control-simplebutton a {
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  line-height: 36px;
  white-space: nowrap;
  padding: 8px 10px;
  font-size: 18px;
  text-decoration: none;
  background: transparent;
  opacity: 0.75;
}

.leaflet-control-simplebutton a:hover {
  opacity: 1;
  text-decoration: none;
}

.leaflet-control-simplebutton a i {
  pointer-events: none;
  font-size: inherit;
}

/* TOUCH */

.leaflet-touch .leaflet-control-simplebutton {
  width: 44px;
  height: 44px
}

.leaflet-touch .leaflet-control-simplebutton a {
  line-height: 44px;
  padding: 10px 12px;
  font-size: 22px;
}
